html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "origin") Say:
            input(name = "originid" value = "1")
         br
         div
            label(for = "csv") To:
            input(name = "csv" value = "Express forms")
         br
         button(type = "submit") Send my greetings